.msbryansk2018-member-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.05);
  transition: box-shadow $duration;

  &:hover {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  }
}

.msbryansk2018-member-card__imagebox {
  @include make-fit-object(447, 670);

  display: block;
}

.msbryansk2018-member-card__slides-item {
  opacity: 0;
  transition: $duration * 5;

  &--active {
    opacity: 1;
  }
}

.msbryansk2018-member-card__body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
  padding-top: 15px;
  padding-bottom: 30px;
}

.msbryansk2018-member-card__name {
  display: block;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 24px;
  font-family: $secondary-font;

  @include mq-range(768px, 960px) {
    font-size: 20px;
  }
}

.msbryansk2018-member-card__to-vote {
  @include make-button();

  position: relative;
  margin-top: auto;
  color: $base-color;
  font-size: 20px;
  background-color: #eef1f0;
  border: none;
  border-radius: 40px 0 0 40px;
  outline: none;

  &:hover,
  &:focus {
    color: $fitness-accent;

    .msbryansk2018-member-card__to-vote-score {

      &::after {
        transform: translate(-50%, -50%) scale(1.1);
      }
    }
  }

  &:active {
    .msbryansk2018-member-card__to-vote-score {
      color: #fff;

      &::after {
        transform: translate(-50%, -50%) scale(1.2);
        background-color: $fitness-accent;
      }
    }
  }

  @include mq-range(768px, 950px) {
    font-size: 15px;
  }

  @include mq-min(1280px) {
    font-size: 15px;
  }
}

.msbryansk2018-member-card__to-vote-score {
  position: absolute;
  top: 50%;
  left: 12px;
  z-index: 1;
  transform: translate(0, -50%);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.45;
  letter-spacing: 0;
  color: $base-color;
  transition: color $duration;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    width: 76px;
    height: 76px;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: $duration;
  }

  @include mq-range(768px, 950px) {
    &::after {
      width: 72px;
      height: 72px;
    }
  }

  @include mq-min(1280px) {
    font-size: 18px;

    &::after {
      width: 56px;
      height: 56px;
    }
  }
}

.msbryansk2018-member-card__to-vote-text {
  padding-left: 45px;

  @include mq-range(768px, 950px) {
    padding-left: 70px;
  }

  @include mq-range(951px, 1023px) {
    padding-left: 50px;
  }

  @include mq-min(1280px) {
    padding-left: 65px;
  }
}
