.msbryansk2018-popup-member {
  max-width: 1080px;
  width: 100%;
  margin: 0;
  padding: 0;

  .fancybox-close-small {
    mix-blend-mode: color-dodge;

    &::after {
      font-size: 30px;
      color: #fff;
    }
  }


  @include mq-min(667px) {
    .fancybox-close-small {
      mix-blend-mode: normal;

      &::after {
        color: #000;
      }
    }
  }

  @include mq-min(768px) {
    width: calc(100% - 4px);

  }
}
