.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
}

.main-grid {
  padding-bottom: rem(45);
  @include mq-min(1280px) {
    display: flex;
  }
}

.main-grid__column-main {
  @include mq-min(1280px) {
    flex-grow: 1;
    margin-left: rem($grid-gutter-width);
    margin-right: rem($grid-gutter-width);
  }
}

.main-grid__column-left {
  @include mq-min(1280px) {
    flex-shrink: 0;
    width: rem(255);
  }
}

.main-grid__column-right {
  @include mq-min(1280px) {
    flex-shrink: 0;
    width: rem(255);
  }
}
