.landing-member-card {
  text-align: center;
}

.landing-member-card__wraplink {
  position: relative;
  display: block;
}

.landing-member-card__photo {
  border-radius: 50%;
}

.landing-member-card__body {
  margin-top: -15px;
}

.landing-member-card__name {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.75rem;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
}

.landing-member-card__firstname {
  position: relative;
  z-index: 1;
  min-width: 111px;
  padding: 0 0.5rem;
  box-sizing: border-box;
  color: $white-color;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: $fitness-accent;
    transform: rotate(-3deg);
  }

  @include mq-range(1024px, 1180px) {
    min-width: 100px;
  }
}

.landing-member-card__lastname {
  z-index: 2;
  min-width: 140px;
  margin-top: -2px;
  padding: 0 0.5rem;
  color: #0d141c;
  box-sizing: border-box;
  background-color: $fitness-accent-2;

  @include mq-range(1024px, 1180px) {
    min-width: 110px;
  }
}

.landing-member-card__score {
  position: absolute;
  top: 0;
  right: calc(50% + 128px / 3);
  z-index: 1;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.45;
  color: #ffd568;

  &::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    background: url("../../images/trophy.svg") no-repeat center;
    background-size: contain;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
    width: 32px;
    height: 32px;
    background-color: $black-color;
    border-radius: 50%;
  }
}
