.member-profile {

}

.member-profile__coming-soon-training {
  position: relative;
  display: flex;
  aling-items: center;
  kustifu-content: center;
  min-height: 80vmin;
  color: #ffffff;
  background-color: $black-color;
  background: url("https://images.unsplash.com/photo-1511810119369-d499bbf2a325?ixlib=rb-0.3.5&s=2db6635aac14528d2c90d962a419f7b4&auto=format&fit=crop&w=2134&q=80") no-repeat center;
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(#0d141c, 0.2), rgba(#0d141c, 0.8) 90%);
  }

  span {
    @include make-container();

    position: relative;
    margin: auto;
    font-weight: 700;
    font-size: 46px;
    text-align: center;
  }
}
