.all-news {

}

.all-news__list {
  @include clear-list();

  display: flex;
  flex-wrap: wrap;
}

.all-news__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: $grid-gutter-width;
  font-size: rem(15);

  @include mq-range(568px, 991px) {
    width: calc((100% - 1 * #{$grid-gutter-width}) / 2);
    margin-right: $grid-gutter-width;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @include mq-min(992px) {
    width: calc((100% - 4 * #{$grid-gutter-width}) / 5);
    margin-right: $grid-gutter-width;

    &:nth-child(5n) {
      margin-right: 0;
    }
  }
}

.all-news__item-link {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: $black-color;
  text-decoration: none;
  transition: $duration;
}

.all-news__item-imagebox {
  @include make-fit-object(220, 130);

  margin-bottom: 0.5rem;

  &::before {
    background-color: $secondary-color;
  }
}

.all-news__item-rubric {
  position: absolute;
  top: rem($grid-gutter-width / 2);
  right: 0;
  z-index: 3;
}

.all-news__item-title {
  margin: 0;
  margin-bottom: 0.2rem;
  font-weight: 700;
  font-size: rem(16);
  font-family: $primary-font;
  line-height: normal;
}

.all-news__item-time {
}
