.archive-main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include mq-min(480px) {
    .selectbox {
      min-width: rem(150);
    }
  }

  @include mq-min(568px) {
    .selectbox {
      min-width: rem(200);
    }
  }
}

.archive-calendar {
  margin-top: rem(30);
  margin-bottom: rem(-20);
  padding: 0.5rem;
  padding-bottom: 0;
  background-color: #fafafa;

  @include mq-min(480px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.archive-calendar-month {
  margin-bottom: 1rem;
  padding: 0.2rem;
  box-sizing: border-box;

  @include mq-range(480px, 666px) {
    width: calc((100% - 1 * 1rem) / 2);
    margin-right: 1rem;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @include mq-range(667px, 991px) {
    width: calc((100% - 2 * 1rem) / 3);
    margin-right: 1rem;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  @include mq-range(992px, 1279px) {
    width: calc((100% - 3 * 1rem) / 4);
    margin-right: 1rem;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  @include mq-min(1280px) {
    width: calc((100% - 2 * 1rem) / 3);
    margin-right: 1rem;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

.archive-calendar-month-name {
  margin: 0;
  margin-bottom: rem(10);
  font-size: rem(20);
  // font-family: $secondary-font;
  // text-transform: uppercase;
  font-weight: 600;
}

.archive-calendar-week {
  display: flex;
  flex-wrap: wrap;

  &._head {
    span {
      // border-bottom: 1px solid #E3E3E3;
      border-bottom: 1px solid $accent-color;
    }
  }

  & span {
    width: 23px;
    width: calc(100% / 7);
    padding: rem(4);
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
  }

  & a {
    width: 23px;
    width: calc(100% / 7);
    padding: rem(4);
    font-weight: bold;
    vertical-align: middle;
    box-sizing: border-box;
    text-align: center;
  }
}
