.banner {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  &::before {
    content: "Реклама";
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 4px;
    padding-right: 4px;
    font-size: rem(12);
    line-height: 15px;
    text-transform: lowercase;
    color: #fff;
    background-color: rgba($black-color, 0.5);
    pointer-events: none;
  }

  a {
    display: block;
  }

  img,
  iframe {
    display: block;
    width: 100%;
    // height: auto;
    border: none;
  }
}

.sidebar-module .banner {
  max-width: rem($sidebar-banner-width);
}

.b_data {
  display: inline-block;
}

.b_data_1 {
  height: 120px;
  width: 100%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

.b_data_2 {
  width: 255px;
  height: 395px;
}

.b_data_3 {
  width: 800px;
  height: 100px;
}

.b_data_4 {
  width: 255px;
  height: 460px;
}

.b_data_5 {
  width: 800px;
  height: 100px;
  background-size: 100%;
}

.b_data_6 {
  height: 255px;
}
