.companies-news {

}

.companies-news__list {
  @include clear-list();
}

.companies-news__item {
  margin-bottom: rem(20);
}

.companies-news__item-link {
  display: block;
  color: $black-color;
  background-color: $secondary-color;
  text-decoration: none;
  transition: $duration;
}

.companies-news__item-imagebox {
  @include make-fit-object(255, 160);

  &::before {
    background-color: $secondary-color;
  }
}

.companies-news__item-image {

}

.companies-news__item-title {
  margin: 0;
  padding: rem($grid-gutter-width / 2);
  font-weight: normal;
  font-size: rem(16);
  line-height: normal;
  font-family: $primary-font;
}
