.counters {
  @include clear-list();

  display: flex;
  align-items: center;
}

.counters__item {
  display: inline-flex;
  align-items: center;
  margin-right: 1rem;
  font-size: rem(15);
  font-family: $secondary-font;
  color: $gray-171;

  &:last-child {
    margin-right: 0;
  }
}

.counters__icon {
  width: rem(12);
  height: rem(12);
  flex-shrink: 0;
  margin-right: 0.25rem;
  fill: currentColor;
  transition: $duration;
}

.multimedia-news__item:first-child .counters__icon {
  fill: $accent-color;
}

.multimedia-news__item-link:hover .counters__icon,
.multimedia-news__item-link:focus .counters__icon {
  fill: $accent-color;
}
