.custom-ol {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  list-style: none;
  counter-reset: ol-list;

  li {
    position: relative;
    margin-bottom: 0.8rem;
    padding-left: rem(40);

    &::before {
      counter-increment: ol-list;
      content: counter(ol-list, decimal-leading-zero);
      position: absolute;
      top: -0.15em;
      left: rem(5);
      padding: 0.25rem 0.35rem;
      font-size: rem(17);
      font-family: 'Roboto Mono', monospace;
      color: $white-color;
      text-align: center;
      border-radius: 50%;
      background-color: $accent-color;
      box-sizing: border-box;
    }
  }
}
