.feed-news {

}

.feed-news__list {
  @include clear-list();
}

.feed-news__item {
  margin-bottom: 1rem;
}

.feed-news__item-link {
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
  color: $black-color;
  text-decoration: none;
  transition: $duration;
}

.feed-news__item-date {
  margin-right: rem($grid-gutter-width / 2);
  font-weight: 600;
  font-size: rem(14);
  font-family: $secondary-font;
  color: $accent-color;
}

.feed-news__item-title {
  margin: 0;
  font-weight: normal;
  font-size: rem(16);
  line-height: normal;
  font-family: $primary-font;
}
