.form-item {
  margin-bottom: rem(15);
  display: block;
}

.form-label {
  display: inline-block;
  padding-bottom: 0.3em;
  vertical-align: middle;
  font-size: 0.95rem;
  cursor: pointer;
}

.form-label--required::after {
  content: "*";
  display: inline-block;
  margin-left: 0.2em;
  color: #F44336;
}

.form-control {
  padding: rem(11) rem(15);
  width: 100%;
  outline: none;
  border: 1px solid $gray-127;
  background: $white-color;
  font: inherit;
  font-size: rem(14);
  line-height: normal;
  border-radius: 0;
  box-sizing: border-box;
  transition: 0.3s;
  vertical-align: middle;

  &:hover {
    background: #fafafa;
  }

  &:focus {
    border-color: mix(#000, $gray-127, 10%);
    background: #fff;
  }

  &.error {
    border-color: $danger-color;
  }

  @include mq-min(840px) {
    &--small {
      padding-top: rem(5);
      padding-bottom: rem(5);
      font-size: rem(12);
    }
  }
}

textarea.form-control {
  max-height: 200px;
  resize: vertical;
}

.form-submit-wrapper {
  margin-top: 1.5rem;
  text-align: center;
}

.form-submit {
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}

.form-note {
  margin-top: rem(15);
  font-size: rem(15.5);
  p {
    margin-bottom: 0;
  }
}

label.error {
  color: $danger-color;
  font-size: 13px;
}
