.infobar {

}

.infobar__list {
  @include clear-list();

  display: flex;
  align-items: center;
}

.infobar__item {
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  font-size: rem(18);
  margin-right: 1.5rem;

  &:last-child {
    margin-right: 0;
  }
}

.infobar__icon {
  fill: $accent-color-2;
}

.infobar__currency {
  color: $accent-color-2;
}

.infobar__value {
  margin-left: 0.5rem;
}
