.main-nav-wrapper {
  flex-grow: 1;
  z-index: 5;

  @include mq-max(991px) {
    display: none;
  }
}

.main-nav {
  @include clearfix();

  position: relative;
  margin-left: auto;
}

.main-nav__list {
  @include clear-list();

  display: flex;
}

.main-nav__item {
  flex-shrink: 0;
  flex-grow: 0;
  white-space: nowrap;
}

.okayNav__nav--invisible .main-nav__item {
  padding-right: 0;
}

.main-nav__link {
  display: block;
  padding: rem(35/2);
  font-weight: 700;
  font-size: rem(16);
  font-family: $secondary-font;
  color: $black-color;
  text-transform: uppercase;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.main-nav__item--active .main-nav__link {
  cursor: default;

  &:hover,
  &:focus {
    color: $base-color;
  }
}

.main-nav__link-text {
  padding-bottom: 3px;
  border-bottom: 3px solid transparent;
}

.main-nav__item--active .main-nav__link-text {
  border-bottom-color: $accent-color;
  cursor: default;
}
