.main-nav-wrapper {
  flex-grow: 1;
  overflow: hidden;
}

.main-nav {
  overflow: hidden;
  margin-left: auto;
}

.main-nav__list {
  @include clear-list();

  display: flex;

  li {
    flex-shrink: 0;
    flex-grow: 0;
    padding-right: rem(35);
    font-weight: 700;
    font-size: rem(16);
    font-family: $secondary-font;
    text-transform: uppercase;
    white-space: nowrap;

    &:last-child {
      padding-right: 0;
    }
  }

  a {
    color: $black-color;
    text-decoration: none;
  }
}
