.multimedia-news {

}

.multimedia-news__list {
  @include clear-list();

  display: flex;
  flex-wrap: wrap;

  @include mq-min(992px) {
    margin-bottom: rem(-$grid-gutter-width);
  }
}

.multimedia-news__item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: rem($grid-gutter-width);

  @include mq-range(568px, 991px) {
    &:nth-child(n+2) {
      width: calc(50% - #{rem($grid-gutter-width / 2)});
      margin-right: rem($grid-gutter-width);

      &:nth-child(2n+3) {
        margin-right: 0;
      }
    }
  }

  @include mq-min(992px) {
    width: calc((100% - 3 * #{rem($grid-gutter-width)}) / 4);
    margin-right: rem($grid-gutter-width);

    &:first-child {
      width: calc(50% - #{rem($grid-gutter-width / 2)});
    }

    &:nth-child(2) {
      width: calc((50% - #{rem($grid-gutter-width / 2)} - 1 * #{rem($grid-gutter-width)}) / 2);
    }

    &:nth-child(3) {
      width: calc((50% - #{rem($grid-gutter-width / 2)} - 1 * #{rem($grid-gutter-width)}) / 2);
      margin-right: 0;
    }

    &:nth-child(4n+7) {
      margin-right: 0;
    }
  }
}

.multimedia-news__item-link {
  flex-grow: 1;
  position: relative;
  display: block;
  color: $secondary-color;
  text-decoration: none;
  transition: $duration;
  outline: rem(15) solid transparent;

  &:hover,
  &:focus {
    color: $white-color;
    background-color: $base-color;
    outline: rem(15) solid $base-color;
  }
}

@include mq-min(568px) {
  .multimedia-news__item:first-child .multimedia-news__item-link {
      &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      opacity: 0.5;
      background-image: linear-gradient(to top, $black-color, rgba($black-color, 0));
      pointer-events: none;
    }
  }
}

.multimedia-news__item-imagebox {
  @include make-fit-object(282, 150);

  &::before,
  &::after {
    pointer-events: none;
  }

  &::before {
    background-color: $black-color;
  }
}

@include mq-min(568px) {
  .multimedia-news__item:first-child .multimedia-news__item-imagebox {

    &::before {
      padding-top: calc(300 / 594 * 100%);
    }
  }
}

.multimedia-news__item-image {
  transition: transform ($duration * 7);
  will-change: transform;
}

.multimedia-news__item-link:hover .multimedia-news__item-image,
.multimedia-news__item-link:focus .multimedia-news__item-image,
.multimedia-news__item:first-child .multimedia-news__item-link:hover .multimedia-news__item-image,
.multimedia-news__item:first-child .multimedia-news__item-link:focus .multimedia-news__item-image {
  transform: translateX(-50%) translateY(-50%) scale(1.2); // translateX, translateY задается у миксина make-fit-object

  @supports (object-fit: cover) {
    transform: scale(1.2);
  }
}

.multimedia-news__item-type {
  position: absolute;
  left: 0;
  top: rem(15);
  width: rem(30);
  height: rem(30);
  background-color: $accent-color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px;

  &--photo {
    background-image: url("../images/icon-camera.svg");
  }

  &--video {
    background-image: url("../images/icon-play.svg");
    background-size: 20px;
  }
}

.multimedia-news__item-body {
  padding-top: 0.5rem;
}

@include mq-min(568px) {
  .multimedia-news__item:first-child .multimedia-news__item-body {
    position: absolute;
    left: rem($grid-gutter-width / 2);
    right: rem($grid-gutter-width / 2);
    bottom: rem($grid-gutter-width / 2);
    z-index: 3;
  }
}

.multimedia-news__item-date {
  margin-bottom: 0.2rem;
}

@include mq-min(568px) {
  .multimedia-news__item:first-child .multimedia-news__item-date {
    display: none;
  }
}

.multimedia-news__item-title {
  margin: 0;
  margin-bottom: 0.2rem;
  font-weight: 700;
  font-size: rem(18);
  font-family: $primary-font;
  line-height: normal;
}

@include mq-min(568px) {
  .multimedia-news__item:first-child .multimedia-news__item-title {
    font-weight: 800;
    font-size: rem(30);
  }
}
