.multimedia-news-info {
  @include clear-list();

  display: flex;
  align-items: center;
}

.multimedia-news-info__item {
  display: inline-flex;
  align-items: center;
  margin-right: 1rem;
  font-size: rem(15);
  font-family: $secondary-font;
  color: $gray-171;
}

.multimedia-news-info__item-icon {
  flex-shrink: 0;
  margin-right: 0.25rem;
  background-color: currentColor;
  transition: background-color ($duration * 2);
}

.multimedia-news__item:first-child .multimedia-news-info__item-icon {
  background-color: $accent-color;
}

.multimedia-news__item-link:hover .multimedia-news-info__item-icon,
.multimedia-news__item-link:focus .multimedia-news-info__item-icon {
  background-color: $accent-color;
}
