.navbar__wrapper {
  padding-top: rem(15);
  padding-bottom: rem(15);
  background-color: $secondary-color;
}

.navbar {
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  padding-top: rem(4);
  padding-bottom: rem(4);
  background-color: $secondary-color;

  &--sticky {
    position: fixed;
  }

  @include mq-min(536px) {
    padding-top: rem(2);
    padding-bottom: rem(2);
  }
}

.navbar__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  margin-right: rem($grid-gutter-width);
  transform-origin: 0 50%;
  transition: transform $duration * 0.5 linear;

  @include mq-min(536px) {
    flex-shrink: 0;
  }
}

.navbar--sticky .navbar__logo {
  transform: scale(0.7);
}
