.out-cover-nav {
  height: 100%;
  overflow: auto;
  background-image: radial-gradient(ellipse at top, rgba(#000, 0.05), transparent 70%), radial-gradient(ellipse at bottom, rgba(#000, 0.05), transparent 70%);
  background-size: 100% 0.7rem;
  background-repeat: no-repeat;
  background-position: top, bottom;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    width: 0.45rem;
    background-color: #d7d7d7;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $gray-147;
  }
}

.out-cover-nav__list {
  @include clear-list();

  text-align: center;
}

.out-cover-nav__item {

}

.out-cover-nav__link {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  font-weight: 700;
  font-size: rem(30);
  font-family: $secondary-font;
  color: $black-color;
  text-transform: uppercase;
  text-decoration: none;

  &::before,
  &::after {
    content: "";
    flex-grow: 1;
    height: 2px;
    background-color: transparent;
  }

  &::before {
    margin-right: rem(30);
  }

  &::after {
    margin-left: rem(30);
  }
}

.out-cover-nav__item--active .out-cover-nav__link {
  color: $accent-color;

  &::before,
  &::after {
    background-color: currentColor;
  }
}
