.page {
  margin-top: rem(45);

}

.page-title {
  margin: 0;
  margin-bottom: $grid-gutter-width;
}

.page-content {
  @include make-textual();

  min-width: 100%;
  width: 1px;
  margin-bottom: 1.5rem;
  hyphens: auto;
}
