.post {
  margin-top: rem(45);
  margin-bottom: rem(45);
}

.post__header {
  margin-bottom: rem(15);
}

.post__title {
  margin: 0;
  margin-bottom: 0.5rem;
  font-weight: 800;
  line-height: 1.2;
  font-size: rem(45);
}

.post__footer {

}

.post__tags {

}
