.post-imagebox {
  @include make-fit-object(935, 431);

  margin-bottom: rem(30);
  background-color: rgba($black-color, 0.1);

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    opacity: 0.5;
    background-image: linear-gradient(to top, $black-color, rgba($black-color, 0) 70%);
  }
}

.post-imagebox__info {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
  padding: rem(10);
  padding-left: rem(15);
  font-size: rem(15);
  color: $white-color;
  background-color: rgba($black-color, 0.3);

  &::before {
    content: "";
    display: inline-block;
    width: rem(20);
    height: rem(15);
    margin-right: 0.2rem;
    vertical-align: middle;
    background-color: currentColor;
  }

  a {
    color: #00c7ff;
  }
}
