.related-post-news {
  display: block;
  font-family: $secondary-font;
  color: $base-color;
  text-decoration: none;
  background-color: $secondary-color;
  transition: $duration;

  @include mq-min(568px) {
    display: flex;
  }
}

.related-post-news__imagebox {
  @include make-fit-object(255, 145);

  @include mq-min(568px) {
    width: 26%;
    min-width: 200px;
    flex-shrink: 0;
  }

  @include mq-min(667px) {
    min-width: 255px;
  }
}

.related-post-news__body {
  padding: rem(30);
  padding-top: rem(25);
}

.related-post-news__label {
  font-weight: 700;
  font-size: rem(12);
  color: $gray-124;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.related-post-news__title {
  margin: 0;
  font-weight: 500;
  font-size: rem(20);

  @include mq-min(568px) {
    font-size: rem(25);
  }

  @include mq-min(667px) {
    font-size: rem(30);
  }
}
