.relationships-news {

}

.relationships-news__list {
  @include clear-list();

  margin-bottom: rem(-25);
}

.relationships-news__item {
  margin-bottom: rem(25);
}

.relationships-news__item-link {
  display: flex;
  align-items: flex-start;
  color: $black-color;
  text-decoration: none;
  transition: $duration;
}

.relationships-news__item-imagebox {
  @include make-fit-object(206, 150);

  flex-shrink: 0;
  width: rem(206);
  margin-right: rem($grid-gutter-width / 2);

  &::before {
    background-color: $secondary-color;
  }
}

.relationships-news__item-image {

}

.relationships-news__item-body {

}

.relationships-news__item-time {
}

.relationships-news__item-title {
  margin: 0;
  margin-bottom: 0.5rem;
  font-weight: 700;
  font-size: rem(18);
  font-family: $primary-font;
  line-height: normal;
}

.relationships-news__item-excerpt {
  line-height: normal;

  & > :last-child {
    margin-bottom: 0;
  }
}
