.relationships-news {

}

.relationships-news__list {
  @include clear-list();

  margin-bottom: rem(-25);
}

.relationships-news__item {
  margin-bottom: rem(30);

  @include mq-min(568px) {
    margin-bottom: rem(25);
  }
}

.relationships-news__item-link {
  display: block;
  color: $black-color;
  text-decoration: none;
  transition: $duration;

  @include mq-min(568px) {
    display: flex;
    align-items: flex-start;
  }
}

.relationships-news__item-imagebox {
  @include make-fit-object(206, 150);

  &::before {
    background-color: $secondary-color;
  }

  @include mq-min(568px) {
    flex-shrink: 0;
    width: rem(206);
    margin-right: rem($grid-gutter-width / 2);
  }
}

.relationships-news__item-image {

}

.relationships-news__item-body {

}

.relationships-news__item-date {

}

.relationships-news__item-title {
  margin: 0;
  margin-bottom: 0.5rem;
  font-weight: 700;
  font-size: rem(18);
  font-family: $primary-font;
  line-height: normal;
}

.relationships-news__item-excerpt {
  line-height: normal;

  & > :last-child {
    margin-bottom: 0;
  }
}
