.search-output {

}

.search-output__list {
  @include clear-list();

  display: flex;
  flex-wrap: wrap;
  margin-bottom: rem(15);

  @include mq-min(568px) {
    margin-right: rem($grid-gutter-width / -2);
  }
}

.search-output__item:not(.search-output__item--banner) {
  @include make-fit-object(317, 175);

  position: relative;
  width: 100%;
  margin-bottom: rem($grid-gutter-width / 2);
  line-height: 1.3;

  &::before {
    background-color: $secondary-color;
  }

  @include mq-min(568px) {
    width: calc((100% - #{rem($grid-gutter-width / 1)}) / 2);
    margin-right: rem($grid-gutter-width / 2);
  }
}

.search-output__item--banner {
  width: 100%;
  margin-bottom: rem($grid-gutter-width / 2);

  @include mq-min(568px) {
    margin-right: rem($grid-gutter-width / 2);
  }
}

.search-output__item-link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: $white-color;
  text-decoration: none;
  transition: $duration;

  &:hover,
  &:focus {
    color: $white-color;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    opacity: 0.5;
    background-image: linear-gradient(to top, $black-color, rgba($black-color, 0));
  }
}

.search-output__item-image {
  z-index: 1;
  transition: transform ($duration * 7);
  will-change: transform;
}

.search-output__item-link:hover .search-output__item-image,
.search-output__item-link:focus .search-output__item-image {
  transform: translateX(-50%) translateY(-50%) scale(1.2); // translateX, translateY задается у миксина make-fit-object

  @supports (object-fit: cover) {
    transform: scale(1.2);
  }
}

.search-output__item-title {
  position: absolute;
  left: rem($grid-gutter-width / 2);
  right: rem($grid-gutter-width / 2);
  bottom: rem($grid-gutter-width / 2);
  z-index: 3;
  margin: 0;
  font-weight: 800;
  font-size: rem(20);

  @include mq-min(568px) {
    padding-right: 5rem;
    font-size: rem(18);
  }
}

.search-output__item-rubric {
  position: absolute;
  top: rem($grid-gutter-width / 2);
  right: rem($grid-gutter-width / 2);
  z-index: 3;
}
