.selectbox {
  position: relative;
  display: block;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: rem(22 + (14 * 1.35));
    background: $accent-color url("../images/icon-arrow-down.svg") no-repeat center / 1.1rem;
    pointer-events: none;
  }
}

.selectbox select {
  cursor: pointer;
  padding-right: rem(22 + (14 * 1.35) + 5);
  appearance: none;

  option {
    font-size: rem(20);
  }
}
